@import './base.css';

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  background-color: #c9e1c2;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 40px;
  color: white;
}
/* -------------------------------- */
/* -- MEDIA QUERIES --------------- */
/* -------------------------------- */
@media (max-width: 1250px) {
  h1 {
    font-size: 50px;
    margin: 20px 0 50px 0;
  }
}

@media (max-width: 694px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    margin: 20px 0 50px 0;
  }
}
